/*---- Fonts ----*/
@font-face {
    font-family: 'ProbaNav2 Regular'; /* Имя шрифта */
    src: url(../fonts/ProbaNav2-Regular.ttf); /* Путь к файлу со шрифтом */
}


/*---- Template ----*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'ProbaNav2 Regular';
	background-color: #1F1F1F;
	color: #C0C0C0;
}
body a{	
	text-decoration: none;
	color: #C0C0C0;
}


/*---- Navigation ----*/
nav{
	background-color: #121212;
	padding: 3px 20px;
}
nav menu li{
	display: inline-block;
	text-align: center;
	padding: 0 10px;
	width: 100px;
	border-radius: 4px;
}
nav menu li:hover{
	background-color: #2F2F2F;
}
nav menu li a{
	color:#FFF;
}
/*
nav ul{
	float:right;
}
nav ul li{
	display: inline-block;
	text-align: center;
	padding: 0 10px;
	width: 40px;
	border-radius: 4px;
}
nav ul li:hover{
	background-color: #2F2F2F;
}
nav ul li a{
	text-decoration: none;
	color:#FFF;
}*/


/*----  ----*/
div.content{
	margin: 0 auto;
	max-width: 1100px;
}


/*---- Left column ----*/
main {
	float: left;
	width: calc(100% - 300px);
}


/*---- Right column ----*/
div.right-column{
	width: 250px;
	float: left;
}
div.right-column section{
	width:200px;
	margin:5px auto 15px;
	border:solid 4px #1A1A1A;
	border-radius: 4px;
}


/*---- Article ----*/
main article{
	border-bottom: solid 1px #141414;
}
main article div.datetime{
	float: right; 
	margin:2px 10px 0 0;
}
main article ul.tags li{
	display: inline-block;
	padding: 4px 10px;
	margin: 2px;
	padding-left: 0;
	margin-left: 0;
}
main article ul.tags li a{
	padding: 4px 10px;
	margin:1px;
}
main article ul.tags li a:hover{
	border: solid 1px #606060;
	background-color: #2F2F2F;
	margin: 0;
}


/*---- Auth form ----*/
div.right-column form[id=auth] input{
	width: 180px;
	margin:0;
	border:0;
	height: 21px;
	padding: 0 10px;
	font-family: 'ProbaNav2 Regular';
}
div.right-column form[id=auth] input[name=login]{
	border-radius: 4px 4px 0 0;
}
div.right-column form[id=auth] input[name=button]{
	background-color: #606060;
	border-radius: 0 0 4px 4px;
	width: 200px;
	color: #1F1F1F;
}
div.right-column form[id=auth] input[name=button]:hover{
	background-color: #C0C0C0;
}


/*---- Categories ----*/
div.right-column section.categories ul li{
	background-color: #606060;
	display: block;
	border-bottom-width: 2px;
	text-align: center;
	padding: 5px;
}
div.right-column section.categories ul li.first{
	border-radius: 4px 4px 0 0;
}
div.right-column section.categories ul li.last{
	border-radius: 0 0 4px 4px;
}
div.right-column section.categories ul li:hover{
	background-color: #C0C0C0;
}
div.right-column section.categories ul li a{
	color: #1F1F1F;
	padding: 5px 40px;
}